name: Lint

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
        paths:
            - '.github/**'

concurrency:
    group: lint-${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    lint:
        if: ${{ github.actor != 'dependabot[bot]' }}
        runs-on: ubuntu-latest

        steps:
            - uses: ./.github/actions/node-build-lint
              with:
                  lint_commands: |
                      lint:prettier
